{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"vueIndentScriptAndStyle": true
}
