.list-container {
	.list-table-container {
		width: 100%;
		margin-bottom: 10px;
	}

	.list-header {
		margin-bottom: 22px;
		text-align: right;
	}

	.table-avatar-icon {
		width: 40px;
		height: 40px;
		border-radius: 10px;
	}
}
