// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;
$navbarHeight: 50px;
$tagViewHeight: 34px;
$hideSideBarWidth: 54px;
$sideBarDuration: 0.28s;
$tagsViewDuration: 0.3s;
$sideBarLogoSize: 44;
