{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": ["plugin:vue/vue3-essential", "vue-global-api", "standard", "prettier", "plugin:prettier/recommended"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"parser": "@typescript-eslint/parser",
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": ["vue", "@typescript-eslint"],
	"rules": {
		"vue/no-multiple-template-root": "off",
		"no-unused-vars": "off",
		"camelcase": "off"
	},
	"globals": {
		"defineProps": "readonly",
		"defineEmits": "readonly",
		"defineExpose": "readonly",
		"withDefaults": "readonly"
	}
}
